@use "../../assets/styles/_vars.scss" as *;

.section {
	@include Section;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.block {
	display: flex;
	align-items: center;
	gap: 1rem;

	svg {
		flex-shrink: 0;
	}
}

.button {
	@include Button;
}

.top {
	width: 100vw;
	height: auto;
	position: absolute;
	z-index: -1;
	transform: rotate(180deg);
	top: -1rem;
}

.bottom {
	width: 100vw;
	height: auto;
	position: absolute;
	z-index: -1;
	bottom: -1rem;
}
