@use "../../assets/styles/_vars.scss" as *;

.section {
	@include Section;
	height: 100vh;

	@media (min-width: 1024px) {
		height: 100vh;
	}

	@media (max-width: 1024px) {
		margin-top: 46px;
		// background-image: none;
		padding: 0;
	}
}

.name {
	letter-spacing: 4px;
}

.desctop {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7rem;
	padding: 0 1rem;
	height: 100%;

	.top {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		padding-top: 12px;
	}

	.logo {
		width: 68px;
		height: 68px;

		@media (max-width: 1024px) {
			width: 56px;
			height: 56px;
		}
	}

	.bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.5rem;

		.text {
			text-align: center;
			font-size: 15px;
			letter-spacing: 4px;
		}
	}

	@media (max-width: 1024px) {
		height: 70vh;
	}
}

.img {
	width: 100%;
	// max-height: 100vh;
	height: auto;
	display: none;

	@media (max-width: 1024px) {
		display: inherit;
	}
}

.button {
	@include Button;
}

.yana {
	font-size: 14px;
	letter-spacing: 4px;
}
