@mixin Button {
	width: 65%;
	height: 2.5rem;
	border-radius: 0.6rem;
	font-size: 1.3rem;
	background: #ff914d;
	font-weight: 600;
	border: none;
	outline: none;
	letter-spacing: 1px;
}

@mixin Section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: 2rem 1rem;
	position: relative;
	// width: 100vw;
	max-width: 1024px;
	margin: 0 auto;
	background-image: url('../../assets/img/mainBG.webp');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;

	h1 {
		text-align: center;
	}
}
